$primary: rgb(105, 46, 150);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-image: url("../img/bossfightbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: #080715;
    color:rgb(231, 214, 236)
}

h5 {
    color: white;
}

.container {
    border-radius: 25px;
    background-color: rgba(20, 17, 26, 0.6);
    padding: 16px 0 16px 0;
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(91, 84, 104, 0.3);
}

.heroCard, .bossCard {
    background-color: rgb(214, 214, 214);
    border: double $primary;
    border-width: 5px;
    display: inline-block;
}

.log {
    border-radius: 25px;
    border: 2px solid rgb(189, 189, 189);

}

.abilities-desc-wrapper {
    min-height: 60px;
}

.ability-description {
    border: 0;
    border-radius: 12px;
    background-color: rgba(20, 17, 26, 0.6);
}