$primary: rgb(105, 46, 150);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-image: url("../img/bossfightbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: rgb(8, 7, 21);
    color: white;
}

.display-4 {
    color:rgb(231, 214, 236)
}

.lead {
    font-size: 1rem;
    color:rgb(231, 214, 236)
}

.container {
    border-radius: 25px;
    background-color: rgba(20, 17, 26, 0.6);
    padding: 16px 0 16px 0;
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(91, 84, 104, 0.3);
}

.audiocontrols {
    margin-right:24px;
}

.heroCard, .bossCard {
    border: double $primary;
    border-width: 5px;
    display: inline-block;
    margin: 0 10px;
    background-color: rgba(8, 7, 21, 0.7);
    width: 18rem;
}

.log {
    border-radius: 25px;
    border: 2px solid rgb(189, 189, 189);

}

.counterspell-hide {
    display: none;
}

.abilities-desc-wrapper {
    min-height: 60px;
}

.ability-heading {
    font-size: 0.9rem;
    color:#dcdcdc;
}

.ability-button {
    font-size: 0.8rem;
  font-weight: bold;
  border-radius: 16px;
}

.ability-description {
    border: 0;
    border-radius: 12px;
    background-color: rgba(20, 17, 26, 0.6);
}

.footer {
    font-size: 0.8rem;
}

.display-none {
    display: none;
}